
.title{
    text-align: center;
    background-image: url('../images/donation12.png');
}



.first-heading{
    color: #080808;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 65px;

}